html {
    text-align: center; 
}

button {
    cursor: pointer;
    outline: none;
}

#result {
    background-color: white;
    border: 5px solid grey;
    margin: 5px 0px;
    padding: 1px 0px;
    color: black;
    font-size: 24px;    
}